/* RESET BÁSICO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* HEADER */
.header {
    background: #1e1e1e;
    color: white;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* TÍTULO */
.header h1 {
    font-size: 1.1rem;
}

/* MENU */
.menu ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.menu a:hover {
    color: #00c3ff;
}

/* BOTÃO MOBILE */
.menu-btn {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

/* 📱 MOBILE */
@media (max-width: 415px) {
    .header h1 {
    font-size: 1.0em;
    text-align: center;
    }

    .menu-btn {
        display: block;
    }

    .menu {
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background: #1e1e1e;
        display: none;
    }

    .menu ul {
        flex-direction: column;
        padding: 10px 0;
    }

    .menu li {
        padding: 10px;
        text-align: center;
    }

    .menu.active {
        display: block;
    }
}
