/* RESET BÁSICO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    overflow-x: hidden;
   
}

/* HEADER */
.header {
    background: #1e1e1e;
    color: white;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* TÍTULO */
.header h1 {
    font-size: 1.1rem;
}
.menu{

    position: relative;
    z-index: 1;
}
/* MENU */
.menu ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.menu a:hover {
    color: #00c3ff;
}

/* BOTÃO MOBILE */
.menu-btn {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.orrow{
    width: 100%;
    box-shadow: 0px -1px 3px 1px  black;
    background-color: #e8eef0;
}

.orrow i{
    
    font-size:2.6rem;
}

.mck{

    padding: 12px ;
}

.contdiv{

    position: relative; /* necessário para usar top */
    animation: even 10s linear infinite; 

    }

    @keyframes even {
        0% {
            margin-left:0%;
        }
        50% {
            margin-left:-50%; /* distância que o div sobe/desce */
        }
        100% {
            margin-left:-100%;
        }
        
    }

/* 📱 MOBILE */
@media (max-width: 415px) {
    html, body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        width: 100%;
    }


    .header h1 {
    font-size: 1.1em;
    text-align: center;
    }

    .menu-btn {
        display: block;
    }

    .menu {
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background: #1e1e1e;
        display: none;
    }

    .menu ul {
        flex-direction: column;
        padding: 10px 0;
    }

    .menu li {
        padding: 10px;
        text-align: center;
    }

    .menu.active {
        display: block;
    }

    

    
}
