*{
    margin:1px;
    padding: 0px;
    box-sizing: border-box;
}

body{

    background-color: black;
}

section .menu{
    display: none;
}

section .menu2{
    display: none;
}

section .menu span{
    transform: rotate(-100deg);
    color: rgb(233, 226, 226);
}

section{

    width: 100%;
    
}

section h1{

    color: #f1f0f0;
    text-align: center;
    padding: 5px;
}

.mate{

    display: flex;
    justify-content: center;
}

.mate ul{
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    padding: 5px;
    list-style: none;
    
}

.mate li a{

    text-decoration: none;
    color: #f1f0f0;
    
}

.mate li:hover{
    
    border-bottom: 1px solid red;
   
}




 





