@media (max-width:414px) {

    h1 {

        font-size: 15px;
        
    }

    
    .menu-btn span{
        color: aliceblue;
    }

    a {
        font-size: 12px;

    }

    body {

        background-color: rgba(8, 8, 8, 0.973);
    }

    section .menu {

        display: block;

    }

    .mate {

        display: none;
    }


    .menu-btn {
        cursor: pointer;
        font-size: 20px;
        user-select: none;
    }

    /* menu fechado */
    section .menu2 {
        display: none;
        position: absolute;
        background-color: rgba(218, 218, 231, 0.973);
        margin-top: 60px;
        margin-left: 10px;
        border-radius: 0.3rem;
       
        
        
    }

    section .menu2 ul li {
        padding: 5px;
        list-style: none;
        text-align: center;    
    }

    section .menu2 ul li a{
        margin: 5px;
        text-decoration: none;
    }

    section .menu2 ul li a:hover{

        background-color: aqua;
        padding: 4px;
        border-radius: 0.2rem;
        
    }
    /* menu aberto */
    .menu2.ativo {
        display: block;
    }

}